.review-margin {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}

.review-title {
  font-size: .9rem;
  font-weight: bold;
  margin-bottom: .625rem;
  margin-top: .625rem;
  color: var(--review-culture-place-name);
}

.review-body {
  font-size: 0.8rem;
  height: 10.25rem;
  color: var(--date-color);
}